@font-face {
    font-family: AnimeAceUkr;
    src: url(Anime_Ace_v05_Regular.woff2);
}

body {
    background-color: aliceblue;
}

header {
 background-color: rgb(199, 224, 247); overflow: hidden; display: flex;
  align-items: center;
  justify-content: space-between;
}
.head {
    font-family: AnimeAceUkr; font-size: 25px; text-align: center; padding: 20px; flex: 1;
}
.sideimg {
    height: 150px; margin-left: 50px; margin-right: 50px;
}
@media (max-width: 768px) {
  .head {
    font-size: 8px;
    padding: 10px;
  }

  .sideimg {
    height: 40px;
    margin: 0 10px;
  }
}

/* 📱 Very small phones */
@media (max-width: 480px) {
  .head {
    font-size: 6px;
  }

  .sideimg {
    height: 40px;
    margin: 0 10px;
  }
}
