@font-face {
    font-family: AnimeAceUkr;
    src: url(Anime_Ace_v05_Regular.woff2);
}

body {
    background-color: aliceblue;
}

header {
 background-color: rgb(199, 224, 247); overflow: hidden; display: flex;
  align-items: center;
  justify-content: space-between;
}
.head {
    font-family: AnimeAceUkr; font-size: 25px; text-align: center; padding: 20px; flex: 1;
}
.sideimg {
    height: 150px; margin-left: 50px; margin-right: 50px;
}